# MiniCMake sample config
#
# target <name> <kind>
#   sources <files...>
#   include_dirs <dirs...>
#   compile_flags <flags...>
#   link_flags <flags/libs...>
#   depends <target_names...>
# end_target

target hello executable
sources hello_main.cpp
compile_flags /O2
link_flags user32.lib
end_target